<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">EvoPPI
                    <small>Species</small>
                </h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Full Width Page</li>
                </ol> -->
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#species">Compare Species</a></li>
                  <li><a data-toggle="tab" href="#sameSpeciesDiv">Compare Same Species</a></li>
                </ul>
            </div>
        </div>

        
<!--Content for Species-->
    <div class="tab-content">
        <div id="species" class="tab-pane fade in active">
         
        <div class = "row">
            <div class="col-lg-6 species1">
                <div class="form-group">
                    <label class="control-label" for="company">Species1</label>
                        <div class="">
                            <select id="mySelect" class="form-control" onchange = "mySelect()">
                            <option disabled selected value> -- select an option -- </option>
                                <% species.forEach(function(species2){%>
                                    <option><%= species2 %></option>
                                <% }); %>
                            </select> 
                        </div>
                </div>
            </div>

            <div class="col-lg-6 species1">
                <div class="form-group">
                    <label class="control-label" for="company">Species2</label>
                        <div class="">
                            <select id="mySelect2" class="form-control" onchange = "differentSpeciesMySelect2()">
                            <option disabled selected value> -- select an option -- </option>
                                <% species.forEach(function(species2){%>
                                    <option><%= species2 %></option>
                                <% }); %>
                            </select> 
                        </div>
                </div>
            </div>
        </div>


    <form id = "fasta">

        <!--Content for interactome-->
        <div class = "row">
            <div class="col-lg-6 species1">
                <div class="form-group">
                    <label class="control-label" for="company">Interactome1</label>
                        <div class="">
                            <select name = interactome1 id="interactome1" class="form-control">
                            </select> 
                        </div>
                </div>
            </div>

            <div class="col-lg-6 species1">
                <div class="form-group">
                    <label class="control-label" for="company">Interactome2</label>
                        <div class="">
                            <select name = interactome2 id="interactome2" class="form-control">
                            </select> 
                        </div>
                </div>
            </div>
        </div>

        <!--Content for gene-->
        <div class = "row">
            <div class="col-lg-6 col-lg-offset-3 species1">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Genes</label>
                            <input class="form-control" name="gene" id="query" placeholder="Start typing something to search genes" type="text">              
                        </div>
                    </fieldset>
             </div>
        </div>
        <div class = "row">
            <div class="col-lg-6 col-lg-offset-3 species1">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Expect value</label>
                            <input class="form-control" name="e_value" id="e-value"  type="text">              
                        </div>
                    </fieldset>
             </div>
        </div>
        <div class = "row">
            <div class="col-lg-6 col-lg-offset-3 species1">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Length of alignment block</label>
                            <input class="form-control" name="lengthAlignment" id="lengthAlignment"  type="text">              
                        </div>
                    </fieldset>
             </div>
        </div>
        <div class = "row">
            <div class="col-lg-6 col-lg-offset-3 species1">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Number of descriptions</label>
                            <input class="form-control" name="numberDescriptions" id="numberDescriptions"  type="text">              
                        </div>
                    </fieldset>
             </div>
        </div>
        <div class = "row">
            <div class="col-lg-6 col-lg-offset-3 species1">
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Minimum identity(%)</label>
                            <input class="form-control" name="minimumIdentity" id="minimumIdentity"  type="text">              
                        </div>
                    </fieldset>
             </div>
        </div>
        <button type="submit" class="btn btn-primary">Compare</button>
    </form>

     
 <!--<div class="container">-->
    <hr>
   <!--  <div id = "export"> -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>
                <table id = "table" class="table table-bordered">
                     <thead>
                     <tr>
                        <th colspan="2" class="text-center">Gene selected</th>
                        <th colspan="2" class="text-center">Interacts</th>
                    </tr>
                    <tr>
                        <th>Species1</th>
                        <th>Species2</th>
                        <th>Species1</th>
                        <th>Species2</th>
                        <th>Code</th>
                    </tr>
                    </thead>
                    <tbody id = "tbody">
                    </tbody>
                </table>
            </div>
        </div>
   <!--  </div> -->
   <button id = "level" type="submit" class="btn btn-primary">Next Level</button>
    <button id = "export" type="submit" class="btn btn-primary" >Export</button>
    <button id = "exportDifferentSpeciesFasta" type="submit" class="btn btn-primary" >Export Fasta</button>
    </div>

    <div class="modal fade" id="getModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Gene</h4>
      </div>
      <div class="modal-body">
        <p>Gene missing on interactome</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1>Processing...</h1>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            
</div><!-- closing the tab div for different species-->

<div id="sameSpeciesDiv" class="tab-pane fade">
    <!--Content for Species-->
            <div class = "row">
                <div class="col-lg-12 species1">
                    <div class="form-group">
                        <label class="control-label" for="company">Species1</label>
                            <div class="">
                                <select id="sameSpeciesMySelect" class="form-control" onchange = "sameSpeciesMySelect()">
                                <option disabled selected value> -- select an option -- </option>
                                    <% species.forEach(function(species2){%>
                                        <option><%= species2 %></option>
                                    <% }); %>
                                </select> 
                            </div>
                    </div>
                </div>
                </div>

                <!-- <div class="col-lg-6 species1">
                    <div class="form-group">
                        <label class="control-label" for="company">Species2</label>
                            <div class="">
                                <select id="sameSpeciesMySelect2" class="form-control" onchange = "sameSpeciesMySelect2()">
                                <option disabled selected value> -- select an option -- </option>
                                    <% species.forEach(function(species2){%>
                                        <option><%= species2 %></option>
                                    <% }); %>
                                </select> 
                            </div>
                    </div>
                </div>
            </div> -->


        <form id = "sameSpecies">

            <!--Content for interactome-->
            <div class = "row">
                <div class="col-lg-6 species1">
                    <div class="form-group">
                        <label class="control-label" for="company">Interactome1</label>
                            <div class="">
                                <select name = interactome1 id="sameSpeciesInteractome1" class="form-control">
                                </select> 
                            </div>
                    </div>
                </div>

                <div class="col-lg-6 species1">
                    <div class="form-group">
                        <label class="control-label" for="company">Interactome2</label>
                            <div class="">
                                <select name = interactome2 id="sameSpeciesInteractome2" class="form-control">
                                </select> 
                            </div>
                    </div>
                </div>
            </div>

            <!--Content for gene-->
            <div class = "row">
                <div class="col-lg-6 col-lg-offset-3 species1">
                        <fieldset>
                            <div class="form-group">
                                <label for="query">Genes</label>
                                <input class="form-control" name="gene" id="sameSpeciesQuery" placeholder="Start typing something to search genes" type="text">              
                            </div>
                        </fieldset>
                 </div>
            </div>
            <button type="submit" class="btn btn-primary">Compare</button>
        </form>

         
     <!--<div class="container">-->
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div  class="panel-heading">
                        <h3 id = "header" class="panel-title">Results</h3>
                    </div>
                    <table id = "table2" class="table table-bordered">
                         <thead>
                        <tr>
                            <th>Gene</th>
                            <th>Interacts</th>
                            <th>Code</th>
                        </tr>
                        </thead>
                        <tbody id = "sameSpeciesTbody">
                        </tbody>
                    </table>
                </div>
            </div>
             <button id = "levelSameSpecies" type="submit" class="btn btn-primary">Next Level</button>
            <button id = "exportSameSpecies" type="submit" class="btn btn-primary" >Export</button>
            <button id = "exportSameSpeciesFasta" type="submit" class="btn btn-primary" >Export Fasta</button>
        </div>
                
    <!--</div>-->
  </div>
  </div>

<hr>