<!DOCTYPE html>
<html>
  <head>
  <% include partials/template/head.ejs %>
    <!-- <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
  <% include partials/template/header.ejs %>
    <!-- Page Content -->
    <div class="container well">
    <% include partials/content/differentSpecies.ejs %>
    <% include partials/template/footer.ejs %>
    </div>
    <% include partials/template/jsdefault.ejs %>
  </body>
</html>
